<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bronco Student Shop</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome to Bronco Student Shop</h1>
    <div class="books">
        <% books.forEach(book => { %>
            <div class="book-card">
                <img src="/<%= book.image %>" alt="<%= book.name %>" width="150">
                <h3><%= book.name %></h3>
                <p>Price: $<%= book.price %></p>
                <form action="/add-to-cart" method="POST">
                    <input type="hidden" name="bookId" value="<%= book.id %>">
                    <button type="submit" class="add-btn"><%= "Add \"" + book.name + "\" to Cart" %></button>
                </form>
            </div>
        <% }) %>
    </div>
    <a href="/cart">View Cart</a>
</body>
</html>
